-# <サイドバー>

.side_bar
  .side_bar__header__box
    %p.side_header__box__user-name
      = current_user.name
    %ul.side_head__box__user-name__menu
      %li.side_head__box__user-name__menu__new-group
        %a{ href: 'https://chat-space-sample.herokuapp.com/groups/new'}
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
  .side_bar__group
    .side_bar__group__box
      .side_bar__group__box__new-box1
        techcamp
        .side_bar__group__box__new-box1__new-box2
          まだメッセージがありません
